NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/gainzope?retryWrites=true&w=majority
WEBSITE_ORIGIN=http://localhost:5173
ADMIN_ORIGIN=http://localhost:5174
ADMIN_EMAILS=admin@example.com
FIREBASE_SERVICE_ACCOUNT_PATH=./secrets/firebase-admin.json
BREVO_API_KEY=xkeysib_your_brevo_api_key
EMAIL_FROM=GAINZOPE <updates@gainzope.in>
